.main-all {
    display: flex;
    background-color: #495e57;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 12rem;
}

.all-left-side {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.all-right-side {
    width: 20rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 5%;
    overflow: hidden;
    transform: translateY(3rem);
}

